<div pRipple class="homeContainer">
    <div class="background">
        <img src="../../assets/images/TopBGHeading.png" alt="Background Image" class="backgroundTopImage" />
    </div>

    <div class="containerDiv">
        <p-fieldset legend="Introduction" [style]="{'color': 'white', 'background': 'transparent', 'background-image': 'url(../../assets/BlockchainCourse.gif)', 
        'background-size': 'contain', 'text-align' : 'justify' , 'border' : '2px solid teal' }">
            <p>
                The Bitcoin boom in the year 2017, familiarized the world with the concept of Cryptocurrencies. Today,
                there is a surge in the number of people investing not only in cryptocurrencies but also in other crypto
                assets. While Bitcoin served as a face of the underlying technology, the technology itself has the
                potential todisrupt the way current industry works.
                <br>
                <br>
                In simple terms, a blockchain is a type of distributed ledger technology (DLT) that consists of growing
                list of records, called blocks, that are securely linked together using cryptography. With extended
                applications ranging from the financial industry
                to health care, Blockchain continues to reform the modern technological landscape.
            </p>
        </p-fieldset>

        <p-fieldset legend="Course Features" [style]="{'color': 'white', 'background': 'transparent', 'background-image': 'url(../../assets/BlockchainCourse.gif)', 'background-size': 'contain', 
            'text-align': 'justify', 'border': '2px solid teal'}">
            <p>
                The course starts with an introduction to blockchain technology through the eyes of Bitcoin. It further
                demystifies the key concepts such as the internal working of blockchain, what forms these blocks and
                transactions, how such a system is governed, along with detailed explanations on concepts such as
                encryptions and hashing. The course terminates with Ethereum blockchain and Smart Contracts which have
                expanded the usage of blockchain beyond cryptocurrencies.
                <br>
                <br>
            </p>
            <p-tag value="Instructor led course for 6 weeks" [rounded]="true" style="margin: 5px"></p-tag>
            <p-tag value="DApps for real life examples" [rounded]="true" style="margin: 5px;"></p-tag>
        </p-fieldset>
    </div>


    <app-curriculum></app-curriculum>
    <app-footer style="display: block;"></app-footer>
</div>