<p-divider align="center">
    <span class="p-tag badgeStyle">
        Contact
    </span>
</p-divider>
<div class="footer">
    <h2 class="footerHeading">
        MUGDHA BHAGWAT
    </h2>

    <h2 class="footerText">
        Computer Engineer, VJTI 2020
        <br>
        Sr. Technology Associate, Morgan Stanley
    </h2>

    <div style="float: right; width: 30%;">
        <button pButton pRipple type="button"
            class="p-button-outlined p-button-rounded p-button-primary linkedIconFooter">
            <a href="https://github.com/bhagwatmugdha/" target="_blank"
                style="font-size: xx-large; color: lightseagreen;">
                <i class="pi pi-github" style="font-size: 2rem"></i>
            </a>
        </button>
        <button pButton pRipple type="button"
            class="p-button-outlined p-button-rounded p-button-primary linkedIconFooter">
            <a href="https://www.linkedin.com/in/mugdhabhagwat/" target="_blank"
                style="font-size: xx-large; color: lightseagreen;">
                <i class="pi pi-linkedin" style="font-size: 2rem"></i>
            </a>
        </button>
    </div>
</div>