::ng-deep .p-panel .p-panel-header {
    border: 1px solid #0b213f;
    padding: 1.25rem;
    background: white;
    color: lightseagreen;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    font-size: large;
}

::ng-deep .p-panel {
    width: 80%;
    margin: auto;
}

::ng-deep .p-panel .p-panel-header .p-panel-header-icon {
    color: navy;
}

::ng-deep .p-panel .p-panel-content {
    background: transparent;
    color: white;
}

.badgeStyle {
    font-size: large;
    padding: 15px;
    border: 2px solid navy;
}

.curriculumDiv {
    background-image: url("../../assets/BlockchainCourse.gif");
    background-size: cover;
}