<p-divider align="center">
    <span class="p-tag badgeStyle">
        Course Curriculum
    </span>
</p-divider>

<div class="curriculumDiv">

    <p-panel header="Bitcoin" [toggleable]="true">
        <p>
            • A comprehensive deep dive into Bitcoin and other crypto currencies
            <br>
            • Introduction to digital currency and assets, and why it was needed
            <br>
            • Introduction to the Bitcoin white paper
        </p>
    </p-panel>

    <p-panel header="Blockchain Beyond Bitcoin" [toggleable]="true">
        <p>
            • Exploring the underlying technology – the Blockchain and a thorough understanding of the making of a
            blockchain
            <br>
            • Encryption (introductory lesson on symmetric key crypto, followed by asymmetric key cryptography – ECC)
            <br>
            • Hashing – Merkle Tree optimizations
            <br>
            • Transactions, UTXO, Accounts, Nonce, Block, Block Header, and the Chain
            <br>
            • Operations of a blockchain - Verification, Validation, and Consensus Model
            <br>
            • Explanations surrounding the different Consensus Models (PoW/ PoS/ PBFT etc.)
            <br>
            • A JS visualizer of the concepts of making a blockchain
        </p>
    </p-panel>

    <p-panel header="Ethereum" [toggleable]="true">
        <p>
            • A comprehensive study of what Ethereum is, how distinctive it is from Bitcoin blockchain
            <br>
            • Smart Contracts in Ethereum
            <br>
            • Need for Smart Contracts, definition of smart contracts
            <br>
            • Blockchains which support smart contracts
            <br>
            • Executing a smart contract
            <br>
            • Solidity fundamentals
            <br>
            • Live programming with Solidity and Remix
        </p>
    </p-panel>
</div>