<div class="blockchainIntroDiv">

    <p-fieldset legend="Introduction"
        [style]="{'color': 'white', 'background': 'transparent', 'text-align' : 'justify' , 'border' : '2px solid teal' }">
        <p>
            In very simple terms, a blockchain is nothing but a chain of blocks that contains information. While this
            technology was originally designed by a group of researchers back in the 90s, it was first used extensively
            by Satoshi Nakamoto to create the most popular cryptocurrency- Bitcoin.
            <br>
            <img src="assets/Chain.gif" alt="Background Image" style="width: 100%;" />
            <br>
            IBM formally defines blockchain as a shared, distributed ledger that facilitates the process of recording
            transactions and tracking assets in a network. A blockchain is often described as tamper resistant and
            tamper evident. But how does a blockchain achieve this?
            <br>
        </p>
    </p-fieldset>

    <p-fieldset legend="Block in a Blochain"
        [style]="{'color': 'white', 'background': 'transparent', 'text-align' : 'justify' , 'border' : '2px solid teal' }">
        <p>
            <br>
            To understand the this, lets take a closer look at a block in a blockcian.
            <br>
            <img src="assets/S1.gif" alt="Background Image" style="width: 100%;" />
            <br>
        </p>
    </p-fieldset>

    <p-fieldset legend="Data and Blockc Hash"
        [style]="{'color': 'white', 'background': 'transparent', 'text-align' : 'justify' , 'border' : '2px solid teal' }">
        <p>
            <br>
            <img src="assets/S2.gif" alt="Background Image" style="width: 100%;" />
            <br>
        </p>
    </p-fieldset>

    <p-fieldset legend="Blocks forming a Blockchain"
        [style]="{'color': 'white', 'background': 'transparent', 'text-align' : 'justify' , 'border' : '2px solid teal' }">
        <p>
            <br>
            <img src="assets/S3.gif" alt="Background Image" style="width: 100%;" />
            <br>
        </p>
    </p-fieldset>
</div>